body{
    background-color: rgb(226, 239, 243) !important;
    max-width: 600px !important;
    width: 90% !important;
    height:100vh;
}
button{
    background-color: lightblue;
    padding: 20px;
    border: 3px solid rgb(122, 167, 182);
    
    height: 100px;
    width: 100%;
    font-family: "Poppins";
    font-size: 30px !important;
    font-weight: bold;
}
#message{
    width:80%;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    margin-top:30px;
    font-size: 30px !important;
    margin-right:auto;
    margin-left:auto;
    background: rgba(0, 0, 0, 0.05);
}

button:hover{
    filter: brightness(90%);
}
#title{
  text-align: center;
}

.css-selector {
    background: linear-gradient(182deg, #e2eff3, #d4f0f9, #d7f5ec);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    -o-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
